.app {
  height: 100%;
  padding: 2rem 4rem;
  overflow: scroll;
}

.app header {
  text-align: center;
}

.app main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 2rem;
}

.field-username {
  width: 15rem;
  display: flex;
  flex-flow: column nowrap;
}

.submit {
  width: 15rem;
  margin-top: 1rem;
}

.input-area,
.output-area {
  font-size: 1.8rem;
  line-height: 4rem;
}

.output-area {
  width: 100%;
  margin-top: 4rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.message-area {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 3rem;
  height: 6rem;
}

.message-failure {
  color: red;
}

.message-success {
  color: green;
}

.repo-row {
  display: flex;
  justify-content: center;
}

.repo-row > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 35rem;
  margin-left: 10rem;
}

.repo-row > *:first-child {
  margin-left: 0;
}

.repo-list-container {
  width: 100%;
}

.output-status-text,
.repo-amount {
  text-align: center;
}

.circle {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border-top: 5px solid rgb(66, 168, 236);
  animation: animate 1s linear infinite;
  filter: blur(1px);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
